* {
  margin: 0;
  padding: 0;
}

.list-item {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.table-heading {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.flex-center-column-aligned {
  display: flex;
  flex-direction: column;
  align-items: center;
}
