*
{
  margin: 0;
  padding: 0;
}
body
{

}
.heading
{
  opacity: .3;
}
.list-item
{
  background-color: red;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  text-align: center;
}
.table-heading
{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}